.nav-bar{
  width: 220px;
  margin-right: 15px;
  &-title{
    margin: 30px 20px 10px 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    >div{
      width: 80px;
      height: 80px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      *{
        font-size: 35px;
        color: #fff;
      }
    }
    p{
      text-align: center;
    }
  }
  &-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    >span{
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    *{
      font-style: normal;
      color: #fff;
    }
  }
  .el-menu{
    border-right: 0 none;
  }
}

.app-email{
  position: absolute;
  width: calc(100% - 100px);
  top: 20px;
  padding: 0 50px;
  bottom: 0;
  overflow: auto;
  .app-email-section{
    height: 100%;
    .nav-bar{
      background: #fff;
    }
    .layout-list-content{
      background: #fff;
      width: 100%;
    }
  }

  .choose-selector{
    height: 500px;
    overflow: auto;
    position: relative;
    &-select-container{
      width: 50%;
      padding-right: 10px;
    }
    &-selected-container{
      position: absolute;
      top: 54px;
      right: 0;
      width: 50%;
    }
  }
}
